body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url("images/calculator.png");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	margin: 0;
}

.calculator-box {
	background-color: #006d77;
	color: #ffffff;
	border: 2px solid black;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 90%;
	max-width: 400px;
	margin: 100px 10px 0 10px;
}

.grid {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto repeat(5, 50px);
	justify-content: center;
	padding: 20px;
}

.display {
	background-color: #002f36;
	color: #ffffff;
	text-align: right;
	font-size: 20px;
	margin: 20px 0;
	padding: 10px;
	grid-column: 1 / -1;
	border: 2px solid black;
	border-radius: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: right;
}

.numberbtn {
	border-radius: 10px;
	background-color: #83c5be;
	color: #004d4d;
	font-size: 16px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.numberbtn:hover {
	background-color: #edf6f9;
}

/* Responsive Design */
@media (max-width: 768px) {
	.calculator-box {
		width: 98%;
		margin-top: 50px;
	}

	.grid {
		gap: 15px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto repeat(5, 45px);
		padding: 15px;
	}

	.display {
		height: 45px;
		font-size: 18px;
	}

	.numberbtn {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.calculator-box {
		width: 100%;
		margin-top: 20px;
		padding: 5px;
	}

	.grid {
		gap: 15px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto repeat(5, 40px);
		padding: 10px;
	}

	.display {
		height: 40px;
		font-size: 16px;
	}

	.numberbtn {
		font-size: 12px;
	}
}